.background{
    margin:0;
    background-color:white;
}
#main-div{
    text-align: center;
    margin-top:10px;
}

textarea{
    box-shadow: 0 0 10px indigo;
    border-radius: 15px;
    padding:15px;
    font-family: Arial,sans-serif;
    border: none;
}
.textarea-div{
    margin-top:15px;
}

.col-sm-3,.col-sm-6{
    border-right: 2px solid darkcyan;
}
#my-image{
    margin-left: 10%;
    text-align: center;
}
.col-sm-3{
    margin: 10px;
}
.col-sm-2{
    margin-top: 50px;
}
.col-sm-2 p{
    font-family: Chiller;
    font-size: 20px;
}
#side a{
    text-decoration: none;
    margin-top: 10px;
}
form textarea{
    width:90%;
    height:200px;
}
.col-sm-3 a,.col-sm-3 a:hover{
    text-decoration: none;
    color:white;
    padding: 5px;
    margin:10px;
}
.col-sm-3 .row{
    margin:10px;
}
h5{
    color:black;
    font-family: Chiller;
}
h1{
    color: midnightblue;
    font-family: Chiller;
}
#footer{
    background-color: white;
    font-family:"Tempus Sans ITC";
}
#resume-button{
    display:none;
}